docs/__pycache__/
.DS_Store
functions/__pycache__/
micapipe_*.sif
docs/build/*
docs/build_
micapipe_v0.*
.snakemake/
.vscode/
UNKNOWN.egg-info/
micapipe_snakebids/test/
micapipe_snakebids/__pycache__
